[Unit]
Description=Virtual keyboard (soft-fn)
Requires=udev.service 

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
WantedBy=getty.target

[Service]
Nice=-19
IOSchedulingClass=realtime
ExecStart=/usr/sbin/soft_fn /dev/input/event0

#PrivateUsers=true
#ProtectClock=true
# for some reason these DeviceAllows don't do what I think they should
DeviceAllow=char-input rw
DeviceAllow=/dev/uinput rw
# CAP_DAC_OVERRIDE + some syscalls like @basic-io and/or @file-system is equivalent to root and renders moot everything else
# CAP_DAC_OVERRIDE will be removed as soon as the DeviceAllows above are figured out.
AmbientCapabilities=CAP_DAC_OVERRIDE 
CapabilityBoundingSet=CAP_DAC_OVERRIDE 
DevicePolicy=closed
DynamicUser=yes
IPAddressDeny=any
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateNetwork=true
PrivateTmp=yes
ProcSubset=pid
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
# How to restrict all families?
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
# These are the only syscalls used by soft-fn.
#SystemCallFilter=access arch_prctl close fstat ioctl mprotect openat read write
#SystemCallFilter=@basic-io @file-system @process ioctl mprotect
# All additional syscalls here are needed by launch.sh to identify the correct eventX device
SystemCallFilter=@basic-io @file-system @process @io-event @signal pipe ioctl mprotect recvfrom sendto socket uname
UMask=0777
