Source: soft-fn
Section: utils
Priority: optional
Maintainer: m <m@metaquanta.com>
Build-Depends: debhelper-compat (= 12), locales
Standards-Version: 4.5.0
Homepage: https://github.com/metaquanta/soft_fn
#Vcs-Browser: https://github.com/metaquanta/soft_fn
#Vcs-Git: https://github.com/metaquanta/soft_fn.git

Package: soft-fn
Architecture: any
Depends: systemd, ${shlibs:Depends}
Description: Provides <SEARCH> triggered layer-switching for Chromebooks.
 Provides a uinput virtual keyboard that behaves as though the Chromebook
 <SEARCH> key is an <FN> key when combined with certain keys (the arrow keys,
 the function/media keys, and delete) while continuing to be an ordinary
 accelerator (<LEFTMETA>) when combined with other keys. 
